@model IEnumerable<MediaNews.Entities.Common.Category>

@{
    ViewBag.Title = "Категории";
}

<h2>Категории</h2>

<p>
    @Html.ActionLink("Създай нова категория", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) |
            @Html.ActionLink("Изтрии", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
