@model MediaNews.Entities.Models.Posts

@{
    ViewBag.Title = Model.Title;
}

<section class="post-content-section">
    <div class="container">
        <div class="row">
            <div class="header">
                @*@{
                var base64 = Convert.ToBase64String(Model.imagePath);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }*@
                <img src="@Model.ImgUrl" style="width:100%" />
                <div class="triangulo"></div>
                <h5 class="sub-title-details">
                    Публикувано на: @Html.DisplayFor(model => model.DatePublished)
                    в категория: @Html.DisplayFor(model => model.Category.Name)
                    от: @Html.DisplayFor(model => model.Author.UserName)</h5>
                <h2 class="title-details">@Html.DisplayFor(model => model.Title)</h2>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 mt-5">
                @Html.DisplayFor(model => model.Content)
            </div>

         @{ Html.RenderPartial("_Comments"); }

            @if (Request.IsAuthenticated && User.IsInRole("Администратор"))
            {
                <div class="col-lg-3  col-md-3 col-sm-12">
                    <div class="well">
                        <h2>Управление</h2>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                    </div>
                </div>
            }

        </div>

    </div>
</section>